active=B"true"
authenticationEnabled=B"true"
connectionId="LiferayRemoteElasticsearch"
httpSSLEnabled=B"true"
maxConnections=I"75"
maxConnectionsPerRoute=I"75"
networkHostAddresses=[ \
  "https://10.160.83.72:9201", \
  ]
proxyHost=""
proxyPort=I"0"
proxyUserName=""
truststorePath="/home/liferay/liferay-dxp-q1/new-elastic-nodes.p12"
truststoreType="pkcs12"
username="elastic"
configuration.cleaner.ignore="true"
password="liferay"
truststorePassword="liferay"
