[ req ]
default_bits       = 2048
default_keyfile    = newkey.pem
distinguished_name = req_distinguished_name
req_extensions     = v3_req  # Use req_extensions for CSR
prompt            = no

[ req_distinguished_name ]
C  = IN
ST = Maharashtra
L  = Mumbai
O  = Edelweiss Life Insurance Pvt Ltd
OU = IT Department
CN = 10.160.83.72  # Using the search server's IP as the Common Name (CN)

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = dr.edelweisslife.in
IP.1  = 10.160.83.72
